@model IEnumerable<GuestTracker.DAL.Models.VisitDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                Guest Name
            </th>
            <th>
                Number of Visits
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GuestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Visit_Detail_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Visit_Detail_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Visit_Detail_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
